bin/*
extension.zip

build
.gradle
.idea

.terraform*
terraform.*

.vscode/

.DS_Store
*.whl

.tox
__pycache__/*
.pyc
build.toml

*.zip
tsconfig.tsbuildinfo

collector/VERSION

opentelemetry-js/
opentelemetry-js-contrib-cx/
import-in-the-middle/
.build-cache/
build-sandbox/

.envrc
mise.toml
