opentelemetry-exporter-otlp-proto-http==1.31.0
opentelemetry-distro==0.52b0
file:opentelemetry_instrumentation_aws_lambda-0.52b0-py3-none-any.whl
file:opentelemetry_instrumentation_botocore-0.52b0-py3-none-any.whl
setuptools==75.3.0
